
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f8fafc;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 75px;
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    z-index: 2000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}
.logo_color1 {
     color: rgb(47, 100, 169); 
}

.logo_color2 {
     color: rgb(52, 165, 226); 
    }

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-list a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
.nav-list a:hover,
.nav-list .active {
    color: #4db8ff;
}

.qr-icon a {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.qr-icon img {
    width: 23px;
}

.qr-icon a:hover {
    background: #204b82;
    color: white;
}

.nav-right {
    display: flex;
    align-items: center;
}

.signin {
    width: 95px;
    height: 40px;
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.25s;
}

.signin a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.signin:hover {
    background: #4db8ff;
}
.signin:hover a {
    color: white;
}

.hero-mf {
    text-align: center;
    padding-top: 130px; 
    padding-bottom: 60px;
}

.hero-icon img {
    width: 70px;
    margin-bottom: 15px;
}

.hero-mf h1 {
    font-size: 40px;
    font-weight: 700;
}

.hero-sub {
    margin-top: 10px;
    font-size: 17px;
    max-width: 650px;
    margin-inline: auto;
    color: #6b7280;
}


.stats {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.stat-card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0,0,0,0.04);
    transition: 0.25s;
}

.stat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

.label {
    color: #6b7280;
    font-size: 15px;
}

.stat-card h2 {
    font-size: 28px;
    margin-top: 5px;
}

.green { color: #0bbf64; }
.growth { font-size: 14px; color: #0bbf64; margin-top: 5px; }


.section-title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 80px;
}

.funds-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 25px;
    padding: 30px 80px;
}

.fund-card {
    background: white;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: 0.25s ease;
}

.fund-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.fund-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fund-top h3 {
    font-size: 18px;
    font-weight: 600;
}

.tag {
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 13px;
    color: white;
}

.large { background: #3b82f6; }
.small  { background: #ef4444; }
.hybrid { background: #f59e0b; }

.nav {
    margin-top: 8px;
    color: #6b7280;
}

.returns p {
    margin-top: 10px;
    font-size: 15px;
}

.min {
    margin-top: 10px;
    color: #374151;
}

.risk {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 500;
}

.low { background: #d1fae5; color: #065f46; }
.moderate { background: #fef3c7; color: #92400e; }
.high { background: #fee2e2; color: #b91c1c; }

.invest-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 12px;
    background: #3ba7ff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.invest-btn:hover {
    background: #1f91f5;
}


.qr-popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition: 0.25s ease;
}

.qr-popup:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.qr-box {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 28px;
    color: #333;
    text-decoration: none;
}

.qr-img {
    width: 200px;
    height: 200px;
}


.mode-toggle {
    background: white;
    border: 1px solid #ccc;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 18px;
}

.mode-toggle:hover {
    background: #4db8ff;
    color: white;
}

body.dark {
    background: #0f172a;
    color: white;
}

body.dark .navbar {
    background: #1e293b;
    border-color: #334155;
}

body.dark .nav-list a {
    color: #e2e8f0;
}

body.dark .nav-list a:hover,
body.dark .active {
    color: #60a5fa;
}

                                                 
body.dark .hero-mf {
    background: linear-gradient(180deg,#0f172a,#1e293b);
    color: white;
}

body.dark .hero-sub {
    color: #cbd5e1;
}


body.dark .stat-card,
body.dark .fund-card {
    background: #1e293b;
    border-color: #334155;
    color: white;
}

body.dark .nav {
    color: #cbd5e1;
}

body.dark .risk.low {
    background: #064e3b;
    color: white;
}

body.dark .risk.moderate {
    background: #78350f;
    color: white;
}

body.dark .risk.high {
    background: #7f1d1d;
    color: white;
}


body.dark .invest-btn {
    background: #2563eb;
}

body.dark .invest-btn:hover {
    background: #1d4ed8;
}


body.dark .qr-box {
    background: #1e293b;
    color: white;
}

@media (max-width: 600px) {
    .section-title { margin-left: 20px; }
    .funds-container { padding: 20px; }
    .nav-list,
    .signin {
        display: none ;
    }

    nav {
        justify-content: center;  
        padding: 0 20px;
    }

    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center; 
    }

    .logo {
        font-size: 24px;
    }
}
